<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bootstrap Table with Add and Delete Row Feature</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<style>
body {
    color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
}
.table-wrapper, .container {
    width: 90%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit, .editUser {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}

table.table td a.consult {
    color: #45ad58;
}
table.table td i {
    font-size: 19px;
}
.delete-user {
    color: #E34724
}
.edit-user {
    color: #27C46B;
}
</style>
<script>
$(document).ready(function(){
	
	// Delete row on delete button click
	$(document).on("click", ".delete", function(e){
        if (confirm('Vous voulez supprimer cette commande ?')) {
            url = "../order/delete/"+$(this).data("value")
            window.location.href = url;
            $(this).parents("tr").remove();
            $(".add-new").removeAttr("disabled");
        }
    });
    // Delete row on delete button click
	$(document).on("click", ".delete-user", function(e){
        if (confirm('Vous voulez supprimer ce client ? Toutes ces commandes seront supprimées également.')) {
            //alert("Your values are :"+ $(this).data("value"));
            url = "../client/delete/"+$(this).data("value")
            window.location.href = url;
            $(this).parents("tr").remove();
            $(".add-new").removeAttr("disabled");
        }
    });

});
</script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</nav>


<div class="container-lg">
    <div class="container mx-auto" style="width: 50%;">
      <div class="row m-0 p-0">
        <div class="col-9">
        </div>
        <div class="col-1 mx-1">
            <a  title="Modifier"  th:href="@{/client/edit/{id}(id=${client.id})}" style="color: #27C46B;cursor: pointer;"><i class="material-icons">&#xE254;</i></a>
        </div>
        <div class="col-1 mx-1">
            <a title="Supprimer" style="color: #E34724;cursor: pointer;" th:data-value="${client.id}"  class="delete-user"><i class="material-icons">&#xE872;</i></a>
        </div>
      </div>
      <div class="row ml-5 mb-1">
        <div class="col-sm">
          Nom et Prénom :
        </div>
        <div class="col-sm">
          <span th:text="${client.lastName}+' '+${client.firstName}"></span>
        </div>
      </div>

        <div class="row ml-5 mb-1">
            <div class="col-sm">
                Téléphone :
            </div>
            <div class="col-sm">
                <span th:text="${client.phoneNumber}"></span>
            </div>
        </div>

      <div class="row ml-5 mb-1">
        <div class="col-sm">
          Email:
        </div>
        <div class="col-sm">
            <span th:text="${client.mailAddress}"></span>
        </div>
      </div>

      <div class="row ml-5 mb-1">
        <div class="col-sm">
          Nbr de commandes :
        </div>
        <div class="col-sm">
            <span th:text="${#lists.size(client.orders)}"></span>
        </div>
      </div>

      <div class="row ml-5 mb-1">
        <div class="col-sm">
          Adress:
        </div>
        <div class="col-sm" style="overflow-wrap:break-word;">
            <span th:text="${client.address}"></span>
        </div>
      </div>
    </div>
    <div class="table-responsive" th:switch="${#lists.size(client.orders)}">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Liste de ses Commandes</h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus"></i> Ajouter une commande</button>
                    </div>
                </div>
            </div>
            <h4 class="text-center" th:case="0">Aucune commande pour le moment!</h4>
            <table class="table table-bordered" th:case="*">
                <thead>
                <tr>
                    <th>N° du commande</th>
                    <th>Nom de la commande</th>
                    <th>Type</th>
                    <th style="width:  15%">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${client.orders}">
                    <td th:text="${order.number}"></td>
                    <td th:text="${order.name}"></td>
                    <td th:text="${order.type}"></td>
                    <td>
                        <a class="edit" title="Edit" th:href="@{/order/edit/{id}(id=${order.id})}" ><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" th:data-value="${order.id}" ><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Ajouter Une commande</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <form method="post" th:action="@{/order/add}" th:object="${order}" class="col p-3 mb-5">
                    <div class="form-group">
                        <label >N° du commande :</label>
                        <input required type="text" th:field="*{number}"
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label >Nom du commande:</label>
                        <input  required type="text" th:field="*{name}"
                                class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label >Type:</label>
                        <input  required type="text" th:field="*{type}"
                                class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label >Client:</label>
                        <select class="form-control" th:field="*{client}" id="client" required>
                            <option th:value="${client.id}" th:text="${client.lastName}+' '+${client.firstName}"></option>
                        </select>
                    </div>


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

                <input type="submit" class="btn btn-primary" value="Ajouter">
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>